/*#panel {
 background-color: rgba(0,0,0,0);
}*/



#panel {
  background-color: rgba(0, 0, 0, 0) !important; /* Fully transparent background */
  width: 100%;   
  height: 23px !important; 
  padding: 2px;
}

#panel * {
  color: #999999 !important; /* Keep text color as is */
  font-weight: 550 !important; 
}

/**/

/*#F2EFDF*/

/*#1D2021*/
/*font-size: 17px !important;*/



